.spot-detail-page { 
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
}

.spot-detail-leftside-container { 
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    width: 50%;
}

.spot-detail-info-container{ 
    display: flex;
    justify-content: space-between;
}

.spot-detail-image-container { 
    display: flex;
    
}

.spot-image-spot-page { 
    border-radius: 40px;
    width: 950px;
}

.spot-reserve-box { 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}

/*create spot form css*/

#input { 
    padding: 7px;
    width: 300px;
    border-radius: 8px;
    margin: 5px;
}

.create-spot-form { 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.input { 
    width: 310px;
    border-radius: 8px;
    margin: 5px;
}

.create-spot-button:hover { 
   cursor: pointer;
}

.create-errors { 
    color: red
}




/* my spots */

.headers { 
    position: relative;
    margin-top: 100px;
}

.myspot-card { 
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.myspot-homepage { 
    margin-left: 20px;
}

.my-spot-create-spotbutton { 
    width: 10%;
}

.delete-button { 
    width: 90%;
    padding: 10px;
    border-radius: 15px;
}
.delete-button:hover { 
    background-color:  #dbb9b8;
    cursor: pointer;
}

.hide-create-review-button { 
    display: none;
}

.delete-review-button-container { 
    width: 20%
}
