.create-review-form { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stars { 
    width: 80%;
}

/* my reviews */ 

.my-review-header-text { 
    margin-top: 100px;
    margin-left: 20px;
}

.review-cards { 
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.my-review-image { 
    width: 30%;
    border-radius: 20px;
}
