.manage-booking-title { 
    margin-top: 100px;
    margin-left: 20px;
}

.bookings-image { 
    width: 500px;
    border-radius: 15px;
}

.bookings-page-left-container { 
    width: 47%;
    margin-left: 3%;
}
