.manage-booking-title { 
    margin-left: 3%;
}

.bookings-image { 
    width: 500px;
    border-radius: 15px;
}

.bookings-page-left-container { 
    width: 47%;
    margin-left: 3%;
}

.image-container {
  position: relative; /* Set position to relative for the container */
}

.image-container button {
  position: absolute; /* Set position to absolute for the delete button */
  top: 10px; /* Adjust the top position of the button as needed */
  right: 10px; /* Adjust the left position of the button as needed */
  z-index: 2; /* Set a higher z-index for the button to appear on top */
}

.image-containered { 
  position: relative;
}

.image-containered .myspot-buttons { 
  position: absolute;
  top: 5px;
  z-index: 2;
}



  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    color: red; /* Set your desired error color */
  }
  
  .calendar label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .calendar input[type="date"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .calendar button {
    background-color: #FF5A5F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .calendar button:hover {
    background-color: #E53B41;
  }
  
  /* Additional styles for alignment and spacing */
  .calendar > div {
    margin-bottom: 10px;
  }
