ul.spot-card{ 
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 85px;
    align-items: center;
    vertical-align: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 100px;
  margin-left: 40px;
}

.spot-card-column:hover { 
    cursor: pointer;
    color:  #dbb9b8
}

.spot-image { 
    /* border-radius: 25px;
    width: 420px;
    height: 320px */
  border-radius: 25px;
  height: 300px;
  width: 400px;
  background-position: center;
  background-size: cover;
}

.spot-image :hover { 
    cursor: pointer;
}

.spot-card-column { 
    /* display: flex;
    flex-direction: column; */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 0 4px rgba(0,0,0,0.1); */
  overflow: hidden;
}
