ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 body { 
  padding: 0; 
  margin: 0;
}

.navbar { 
  width: 100%;
  position: sticky;
  
}

.navigation-bar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid thin; */
  box-shadow: 0px 3px 3px rgb(159, 165, 163);
  top: 0%; 
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: rgb(255, 255, 255);
}

.profile-dropdownhidden { 
    display: none;
} 

.menu-icon { 
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
}

.class-hover :hover { 
  background-color:  #dbb9b8
}

.navbar :hover { 
  cursor: pointer;
}

.logo { 
  width: 110px;
  
}

.user-menu-dropdown { 
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f3f2f1;
  position: fixed;
  right: 40px;
  top: 10%;
  font-size: 20px;
  align-items: center;
}

.user-menu-dropdown button { 
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
}

.user-menu-dropdown li  :hover { 
  background-color:  #dbb9b8
}


.create-spot-button { 
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
}

.create-spot-container :hover { 
  background-color:  #dbb9b8
}

.create-spot-container { 
  position: absolute;
  right: 100%;
  width: 200px;
  top: 3.5px
}
