ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 body { 
  padding: 0; 
  margin: 0;
}

.profile-dropdownhidden { 
    display: none;
} 

.logo { 
  width: 110px;
  
}

.page { 
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navigation-bar { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;
}

.personalsite { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30%;
}



.create-spot-container { 
  display: flex;
  column-gap: 15px;
}

.user-menu-dropdown { 
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  background-color: #fff;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-menu-dropdown {
  position: relative; /* Ensure the dropdown menu is positioned relative to its container */
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  top: 100%; /* Position the dropdown menu below its container */
  right: 15px; /* Adjust the positioning based on your needs */
  width: 200px; /* Set the width of the dropdown menu */
}

.user-menu div,
.user-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.user-menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user-menu button:hover {
  background-color: #f2f2f2;
}





.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.button-23:hover{ 
  background-color: #f2f2f2;

}
