#modal-content { 
    padding: 150px;
    width: 200px;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.login-errors { 
    color: red;
    list-style: square;
}

.form { 
    display: flex; 
    align-items: center; 
    flex-direction: column;
}


.input-box { 
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}
